# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
*.pyc

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor/OS Files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build output
dist
dist-ssr
*.local

# Shared package
shared/dist/
shared/node_modules/

# Local workspace specific
backend/dist/
backend/node_modules/
frontend/dist/
frontend/node_modules/
